body{

    font-family: 'Poppins', sans-serif;
}
h1{

    font-size: 50px;
}
.span{
    color: rgb(65, 16, 122);
   
}
.span1{
    color: maroon;
}

section{

    display: flex;
    margin: 100px;
}
.half-width img{
    width: 100%;
}
.half-width{
    width: 90%;
    padding: 50px;
    
}
.link-button{
    background-color: mediumaquamarine;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right ;
}